.LeftMenu {
    width: var(--side-width);
    height: 100dvh;
    position: fixed;
    top: var(--header-height);
    left: 0;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: var(--header-height);
}

.LeftMenu .tap {
    margin-top: -2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #cccccc4f;
}
.LeftMenu .tap li {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    gap: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}
.LeftMenu .tap li.on {
    background-color: #cccccc4f;
}
.LeftMenu .tap li > a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.LeftMenu .tap li img {
    width: 3.2rem;
    height: 3.2rem;
    object-fit: contain;
}
.LeftMenu .tap li span {
    font-size: 1.9rem;
}

.LeftMenu .option {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.LeftMenu .option {
}
.LeftMenu .option .optionItem {
    padding: 1rem 1.3rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    border-radius: 1rem;
}
.LeftMenu .option .optionItem.on {
    background-color: #cccccc53;
}

.LeftReset {
    position: sticky;
    top: 1rem;
    background: #f2f2f2;
    border-radius: 1rem;
    border: none;
    width: fit-content;
    display: block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
    margin: 0 0 0 auto;
}
.LeftReset:hover {
    background-color: #ededed;
}
.LeftReset:hover img {
    transform: rotate(-180deg);
}
.LeftReset:hover span {
    opacity: 1;
}

.LeftReset span {
    font-size: 9.5px;
    color: #222;
    padding: 0.2rem;
    background-color: #e6e6e68c;
    position: absolute;
    top: -1.8rem;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.4s;
    border-radius: 0.5rem;
    opacity: 0;
}

.LeftReset img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    transition: transform 0.4s;
}
@media (max-width: 500px) {
    .LeftMenu .tap li {
        margin-bottom: 4rem;
    }
    .LeftMenu .tap li span {
        font-size: 2.2rem;
    }
    .LeftMenu .tap li img,
    .LeftReset img {
        width: 3.5rem;
        height: 3.5rem;
    }
    .LeftMenu .option {
        margin: 3rem 0;
    }
    .LeftMenu .option .optionItem {
        font-size: 2.2rem;
        margin-bottom: 2.3rem;
    }
}
